<div class="container-fluid">
    <div class="body">
        <div class="card card-padding">
            <div class="row">
                <div class="col-lg-10">
                    <span class="pckg">CostCenters</span>
                </div>
                <div class="col-lg-2">
                    <button class="add" routerLink="/CostCenterForm">Add</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card2 card-padding2">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" class="form-control search"  placeholder="Search...">
            </div>
            <div class="col-lg-3">
                <input type="date" placeholder="dd-mm-yyyy" class="form-control">
            </div>
            <div class="col-lg-3">
                <button class=Button1>Export to Excel</button>
            </div>
            <div class="col-lg-3">
                <button class="Button2">Upload Cost Center</button>
            </div>
        </div>
        <div class="col-lg-12"><br>
            <table>
                <tr> 
                    <td><span class="menu"> </span></td>
                    <td><span class="menu">Name</span></td>                 
                    <td><span class="menu">Code</span></td>                 
                    <td><span class="menu">Remarks</span></td>                  
                    <td><span class="menu">Actions</span></td>
                </tr>   
                  
                <tr *ngFor="let cost of costcenterlist">
                    <td>{{cost.name}}</td>
                    <td>{{cost.code}}</td>
                    <td>{{cost.remarks}}</td>  
                    <td class="Align"> <button class="Extra">Edit</button> <br>
                         <button class="Extra" (click)="delete(cost.id)">Delete</button> <br> 
                        <button class="Extra">Audit Trail</button> <br>
                    </td>        
                </tr>                     
            </table>
        </div> <br>  
    </div>
</div>

