.logo{
    width: 50%;
    height: auto;
    margin-top: 10px;
    margin-left: 30px;
}
.logout{
        float: right;
        margin-top: 1%;
}
/* .container-fluid{
    box-shadow: 0px 2px 5px grey;
}
.negativepadding{
    padding: 0px;
} */