<div class="container-fluid card dashhead">
    <div class="row">
        <div class="col-lg-10">
            <h5>Pay Roll Form</h5>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <div class="row">
        <div class="col-lg-3">
            <label>Year</label>
        </div>
        <div class="col-lg-4">
            <input type="Year" class="form-control" placeholder="year" [(ngModel)]="year"  >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Month</label>
        </div>
        <div class="col-lg-4">
            <input type="Month" class="form-control" placeholder="Month" [(ngModel)]="month" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Period</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Period" [(ngModel)]="period" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Payroll Run Type</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Payroll Run Type" [(ngModel)]="payrollRunType">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Pay Group</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Pay Group" [(ngModel)]="payGroup" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Description</label>
        </div>
        <div class="col-lg-4">
            <textarea rows="5" class="form-control" placeholder="Description" [(ngModel)]="description"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Transaction Date</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" placeholder="dd-mm-yyyy" [(ngModel)]="ddmmyyyy">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtns" (click)="Save()">Save</button>
            <!-- <button type="button" class="addbtns" *ngIf="id!=null || id!=undefined" (click)="Update()">Update</button> -->
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>