<div class="container-fluid">
    <div class="body">
        <div class="card card-padding">
            <div class="row">
                <div class="col-lg-10">
                    <span class="pckg">Company Adjustments</span>
                </div>
                <div class="col-lg-2">
                    <button class="add" routerLink="/CompanyAdjustmentForm">Add</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card2 card-padding2">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="col-lg-3">
                <input type="date" placeholder="dd-mm-yyyy" class="form-control">
            </div>
        </div>
        <div class="col-lg-12"><br>
            <table>
                <tr> 
                    <td><span class="menu"> </span></td>
                    <td><span class="menu">Type</span></td>
                    <td><span class="menu">Name</span></td>
                    <td><span class="menu">Code</span></td>
                    <td><span class="menu">Amount</span></td>
                    <td><span class="menu">Remarks</span></td>
                    <td><span class="menu">Before</span></td>
                    <td><span class="menu">Taxable</span></td>
                    <td><span class="menu">Max Accumulated</span></td>
                    <td><span class="menu"> </span></td>
                </tr>            
            </table>
        </div>
    </div>
</div>
