.card{
  background-color:rgb(7, 106, 119) ;
}
.pckg {
    font-weight: bold;
    float: left;
    padding-bottom: 6px;
    text-align: center;
    font-size: 22px;
    font-family: sans-serif;
    color: white;
    padding-left: 15px;
}

.add {
    width: 98%;
    float: right;
    border: none;
    background-color:white;
    height: 27px;
    border-radius: 16px;
    color: black;
    margin-top: 6px;
    font-family: sans-serif;
    margin-right: 15px;
}

.form-control{
  margin-left: 15px;
}

table, th, td {
    border: 1px solid rgb(150, 145, 145);
  
  }

  table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .card-padding{
      padding:1%;
  }
  .menu
  {
    font-weight: bold;
    font-family:sans-serif;
    font-size: 16px;
  }
  .card2{
    background-color: white;
  }
  .card-padding2{
    padding:1%;
  }
  .button{
    width: 98%;
    float: right;
    border: none;
    background-color:rgb(7, 106, 119);
    height: 27px;
    border-radius: 16px;
    color: white;
    margin-top: 6px;
    font-family: sans-serif;
    
  }