<div class="container-fluid card dashhead">
    <div class="row">
        <div class="col-lg-10">
            <h5>General Ledger Form</h5>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <div class="row">
        <div class="col-lg-3">
            <label>Sequence Number</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Sequence Number">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>GL Name</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="GL Name" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Normal Balance</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Normal Balance">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Negative Balance</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Negative Balance">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Account Summary</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Account Summary">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Adjustments</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Adjustments">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Remark</label>
        </div>
        <div class="col-lg-4">
            <textarea rows="5" class="form-control" placeholder="Write remarks"></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtns">Save</button>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>


