.taxtable{
    font-weight: 600;
    font-size: 18px;
    background-color:lightgray;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-left: 72px;
    margin-right: -140px;
}

table, td {
    border: 1px solid rgb(150, 145, 145);
  
  }

  table {
      background-color: rgb(7, 106, 119) ; 
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  
  td{
    border: 1px black;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .menu
    {
      font-weight: bolder;
      font-family:sans-serif;
      font-size: 16px;
      color:white; 
    }
    .Daily{
        font-family:  'Open Sans', sans-serif;
    }
    .Card{
      background-color: White;
      padding:1%;
    }
    .Label{
      font-family:  'Open Sans', sans-serif;
      font-size:15px;
      font-weight: bold;
      padding-left: 15px;
   
    }

    .edit {
      width: 85%;
      border: none;
      background-color: rgb(7, 106, 119);
      text-align: center;
      border-radius: 16px;
      color: white;
      font-family: sans-serif;
    }
    
    .align {
      text-align: center;
    }

    .TaxTableEdit{
      margin-left: -70px;
      margin-top: 8px;
    }

    