<div class="container-fluid card dashhead">
    <div class="row">
        <div class="col-lg-10">
            <h5>Employee Form</h5>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <div class="row">
        <div class="col-lg-3">
            <label>Payroll PieID</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Payroll PieID">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Employee No.</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Employee No." >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Last Name</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Last Name">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>First Name</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="First Name">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Cost Center</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Cost Center">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Date Hired</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" placeholder="dd-mm-yyyy">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Taxable</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Taxable">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Employeement Status</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Employeement Status">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Status</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Status">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtns">Save</button>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>