<div class="container-fluid card dashhead">
    <div class="row">
        <div class="col-lg-10">
            <h5>Company Adjustment Form</h5>
        </div>
        <div class="col-lg-2">

        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <div class="row">
        <div class="col-lg-3">
            <label>Type</label>
        </div>
        <div class="col-lg-4">
            <!-- <select class="form-control" name="countryID"  [(ngModel)]="type" >
                <option value="">Select</option>
                <option value="type">Type</option>
            </select> -->
            <input type="text" class="form-control" placeholder="Type"  name="name" [(ngModel)]="type">
            
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Name</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Name"  name="name" [(ngModel)]="name">
         
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Code</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Code"  name="code" [(ngModel)]="code" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Amount</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Amount" name="amount" [(ngModel)]="amount" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Remark</label>
        </div>
        <div class="col-lg-4">
            <textarea rows="5" class="form-control" placeholder="Write remarks" name="writeremarks" [(ngModel)]="writeremarks" ></textarea>
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Before</label>
        </div>
        <div class="col-lg-4">
            <!-- <textarea rows="5" class="form-control" placeholder="Before" [(ngModel)]="before"></textarea> -->
            <input type="radio" value="1"   name="before" [(ngModel)]="before"> Yes
            <input type="radio" value="0"   name="before" [(ngModel)]="before"> No
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Taxable</label>
        </div>
        <div class="col-lg-4">
            <input type="radio" value="1"   name="taxable" [(ngModel)]="taxable"> Yes
            <input type="radio" value="0"   name="taxable" [(ngModel)]="taxable"> No
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Max Accumulated</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Max Accumulated" name="maxaccumulated" [(ngModel)]="maxaccumulated">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtns" (click)="Save()">Save</button>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>

