<div class="container-fluid background">
    <div class="row">
        <div class="col-lg-12">
            <p class="government">Government OR Records </p>
        </div>
    </div> 
    <br>
        <div class="container">
            <div class="row">
                <div class="col-lg-3"></div>
                <div class="col-lg-2">
                </div>
                <div class="col-lg-2">
                    <p class="text1">SBR/OR Number</p>
                </div>
                <div class="col-lg-2">
                    <p class="text1"> Date Paid </p>
                </div>
                <div class="col-lg-3"></div>
             
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    SSS
                </div>
                <div class="col-lg-2">
                   <input class="form-control" [(ngModel)]="selectSSS"><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" [(ngModel)]="selectSSSDatePaid"><br>
                </div>
                <div class="col-lg-3"></div>

                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                   SSS Loan
                </div>
                <div class="col-lg-2">
                   <input class="form-control" [(ngModel)]="selectSSSloan"><br>
                </div>
                <div class="col-lg-2 ">
                    <input class="form-control" type="date" [(ngModel)]="selectSSSloanDatePaid"><br>
                </div>
                <div class="col-lg-3"></div>
                <br>
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    SSS Calamity Loan
                </div>
                <div class="col-lg-2">
                   <input class="form-control" [(ngModel)]="selectSSSCalamityLoan"><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" [(ngModel)]="selectSSSCalamityLoanDatePaid"><br>
                </div>
                <div class="col-lg-3"></div>
                <br>
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                   PhilHealth
                </div>
                <div class="col-lg-2">
                   <input class="form-control" [(ngModel)]="selectPhilHealth"> <br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" [(ngModel)]="selectPhilHealthDatePaid"><br>
                </div>
                <div class="col-lg-3"></div>
                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    HDMF
                </div>
                <div class="col-lg-2">
                   <input class="form-control" [(ngModel)]="selectHDMF"><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" [(ngModel)]="selectHDMFDatePaid"><br>
                </div>
                <div class="col-lg-3"></div>

                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    HDMF Loan
                </div>
                <div class="col-lg-2">
                   <input class="form-control" [(ngModel)]="selectHDMFLoan"><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" [(ngModel)]="selectHDMFLoanDatePaid"><br>
                </div>
                <div class="col-lg-3"></div>
           <br>

                <div class="col-lg-3"></div>
                <div class="col-lg-2 text">
                    Hdmp Calamity Loan
                </div>
                <div class="col-lg-2">
                   <input class="form-control" [(ngModel)]="selectHdmpCalamityLoan"><br>
                </div>
                <div class="col-lg-2">
                    <input class="form-control" type="date" [(ngModel)]="selectHdmpCalamityLoanDatePaid"><br>
                </div>
                <div class="col-lg-3"></div>
            <br>
            <div class="col-lg-3"></div>
            <div class="col-lg-2">             
            </div>
            <div class="col-lg-2">
              <button class="save" *ngIf="id==null || id==undefined" (click)="save()">Save</button> <br>
            </div>
            <div class="col-lg-3"></div>
            </div><br>
        </div>
    </div>

