
<div class="container-fluid">
    <div class="body">
        <div class="card card-padding">
            <div class="row">
                <div class="col-lg-10">
                    <span class="pckg">SSS</span>
                </div>
                <div class="col-lg-2">
                    <button class="add" routerLink="/sssForm">Add</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card2 card-padding2">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="col-lg-3">
                <input type="date" placeholder="dd-mm-yyyy" class="form-control">
            </div>
        </div>
        <div class="col-lg-12"><br>
            <table>
                <tr>                 
                    <td><span class="menu">Min Range</span></td>
                    <td><span class="menu">Max Range</span></td>
                    <td><span class="menu">Monthly Salary Credit</span></td> 
                    <td><span class="menu">SS-ER</span></td>   
                    <td><span class="menu">SS-EE</span></td>   
                    <td><span class="menu">SS-Total</span></td>                                        
                    <td><span class="menu">MPF-ER</span></td>   
                    <td><span class="menu">MPF-EE</span></td>   
                    <td><span class="menu">EC-ER</span></td>   
                    <td><span class="menu">Total Contibution</span></td>                         
                </tr>              
            </table>
        </div><br>
    </div>
</div>



