.pckg {
    font-weight: bolder;
    float: left;
    padding-bottom: 6px;
    text-align: center;
    font-size: 20px;
    font-family: sans-serif;
    background-color: rgb(7, 106, 119);
    color:white;
}

.add {
        width: 98%;
    float: right;
    border: none;
    background-color: white;
    height: 27px;
    border-radius: 16px;
    color: black;
    margin-top: 6px;
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bolder;
}

.search {
    width: 22%;
    margin-left: 19px;
    padding-left: 12px;
    margin-top: -23px;
    border: 1px solid #b9bbbe;
    border-radius: 5px;
    padding-bottom: 6px;
}

table, th, td {
    border: 1px solid rgb(150, 145, 145);
  
  }

  table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .card-padding{
      padding:1%;
  }
  .menu
  {
    font-weight: bolder;
    font-family:sans-serif;
    font-size: 16px;
  }
  .card{
      background-color: rgb(7, 106, 119);
  }
  .card2{
    background-color: white;
  }
  .card-padding2{
    padding:1%;
  }