<div class="container-fluid">
    <div class="body">
        <div class="card card-padding">
            <div class="row">
                <div class="col-lg-10">
                    <span class="pckg">General Ledger</span>
                </div>
                <div class="col-lg-2">
                    <button class="add" routerLink="/GeneralLedgerForm">Add</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card2 card-padding2">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="col-lg-3">
                <input type="date" placeholder="dd-mm-yyyy" class="form-control">
            </div>
            <div class="col-lg-6">
                <button class="Button">Export GeneralLedger</button>
            </div>
        </div>
        <div class="col-lg-12"><br>
            <table>
                <tr>
                    <td><span class="menu"> </span></td>
                    <td><span class="menu">Sequence Number</span></td>
                    <td><span class="menu">GL Name</span></td>
                    <td><span class="menu">Normal Balance</span></td>
                    <td><span class="menu">Negative Balance </span></td>
                    <td><span class="menu">Account Summary </span></td>
                    <td><span class="menu">Adjustments </span></td>
                    <td><span class="menu">Remarks</span></td>

                </tr>
                <tr>
                    <td>001</td>
                    <td>Anu</td>
                    <td>10000</td>
                    <td>0</td>
                    <td>Na</td>
                    <td>Good Credit Maintainance</td>
                    <td>3000</td>
                    <td>NA</td>
                </tr>
                <tr>
                    <td>002</td>
                    <td>Sindhu</td>
                    <td>10000</td>
                    <td>0</td>
                    <td>Na</td>
                    <td>Good Credit Maintainance</td>
                    <td>3000</td>
                    <td>NA</td>
                </tr>
                <tr>
                    <td>003</td>
                    <td>Naveen</td>
                    <td>10000</td>
                    <td>0</td>
                    <td>Na</td>
                    <td>Good Credit Maintainance</td>
                    <td>3000</td>
                    <td>NA</td>
                </tr>
                <tr>
                    <td>004</td>
                    <td>Praveen</td>
                    <td>10000</td>
                    <td>0</td>
                    <td>Na</td>
                    <td>Good Credit Maintainance</td>
                    <td>3000</td>
                    <td>NA</td>
                </tr>
            </table>
        </div><br>
    </div>
</div>

