.container-fluid{
  background-color: rgb(226, 224, 224);
}
.container{
  background-color: white;
}
.Adolfo{
  background-color:lightgray;
  color:black;
  text-align: center;
  font-weight:bold;
  font-size:15px;
}
.negative-padding{
  padding:0px;
}
.Empinfo{
  background-color:rgb(7, 106, 119) ;
  color:white;
  font-size:18px;
  font-weight:bold;
  font-family: 'Open Sans', sans-serif;
  padding:10px;
}
.Salary{
  background-color:rgb(7, 106, 119) ;
  color:white;
  font-size:18px;
  font-weight:bold;
  font-family: 'Open Sans', sans-serif;
  padding:10px;
}