<div class="container-fluid">
    <div class="body">
        <div class="card card-padding">
            <div class="row">
                <div class="col-lg-10">
                    <span class="pckg">Adolfo,Noeme Marie A</span>
                </div>
                <div class="col-lg-2">
                    <button class="add" routerLink="/Adjustment">Add</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card2 card-padding2">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="col-lg-3">
                <input type="date" placeholder="dd-mm-yyyy" class="form-control">
            </div>
        </div>
        <div class="col-lg-12"><br>
            <table>
                <tr>
                    <td><span class="menu">Employee Information</span></td>
                    <td><span class="menu"> </span></td>
                    <td><span class="menu">  </span></td>                    
            </table>
        </div>
    </div>
</div>