<div class="container-fluid card dashhead">
    <div class="row">
        <div class="col-lg-10">
            <h5>OT Rates Form</h5>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <div class="row">
        <div class="col-lg-3">
            <label>OT</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="OT">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>ND</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="ND" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>NDOT</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="NDOT">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtns">Save</button>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>

