<div class="container-fluid card dashhead">
    <div class="row">
        <div class="col-lg-10">
            <h5>Phil Health Form</h5>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <div class="row">
        <div class="col-lg-3">
            <label>Monthly Basic Salary x 5.00%</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="MonthlyBasicSalary" [(ngModel)]="monthlybasicsalary">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Monthly Share</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="MonthlyShare" [(ngModel)]="monthlyshare">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Personal Share</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="PersonalShare" [(ngModel)]="personalshare">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Employer Share</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Employer Share" [(ngModel)]="employershare" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtns" (click)="Save()">Save</button>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>

