<div class="bandtxt">
    <p>COMPANY PROFILE
    <p>
</div>
<div class="container-fluid">
    <br>
    <div class="container">
        <div class="row ">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">Company Profile</p>
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-4">
                <label>Company Logo</label>
            </div>
            <div class="col-lg-5">
                <img class="profilelogo" src="../../assets/samplelogo.jpg" alt="logo image">
            </div>
        </div>
        
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-1">
                <input type="file">
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-lg-4">
                <label>Company Name*</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="company Name">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Nature of Bussiness</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="Nature of Bussiness">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Address1</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="Address1">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Address2</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="Address2">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Zip Code</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="Zip Code">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>RDO</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="RDO">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Email</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="Email">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Phone</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="Phone">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Fax</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="Fax">
            </div>
        </div>



        <div class="row">
            <div class="col-lg-4">
                <label>TIN</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="TIN">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>SSS No.</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="SSS No.">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>PhilHealth No.</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="PhilHealth No.">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>HDMF No.</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="HDMF No.">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Admin Signatory</label><br>
                <label style="font-size: 13px;">*For Payroll Summary and Employer Contribution</label>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-5">
                        <label>Authorized Person:</label>
                    </div>
                    <div class="col-lg-7">
                        <input class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <label>Position Title:</label>
                    </div>
                    <div class="col-lg-7">
                        <input class="form-control"><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>HR Signatory</label>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-5">
                        <label>Authorized Person:</label>
                    </div>
                    <div class="col-lg-7">
                        <input class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <label>Position Title:</label>
                    </div>
                    <div class="col-lg-7">
                        <input class="form-control"><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Finance Signatory</label><br>
            </div>
            <div class="col-lg-5">
                <div class="row">
                    <div class="col-lg-5">
                        <label>Authorized Person:</label>
                    </div>
                    <div class="col-lg-7">
                        <input class="form-control">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-5">
                        <label>Position Title:</label>
                    </div>
                    <div class="col-lg-7">
                        <input class="form-control"><br>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>E-Signatory</label>
            </div>
            <div class="col-lg-5">
                <!-- <input type="file" id="myFile" name="filename"> -->
                <input type="file" placeholder="Choose file">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">Work Policy</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Work Days Per Year*</label>
            </div>
            <div class="col-lg-5">
                <select class="form-control">
                    <option>261</option>
                    <option>260</option>
                    <option>259</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Work Hours Per Day</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="8">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Work Months Per Year*</label>
            </div>
            <div class="col-lg-5">
                <select class="form-control">
                    <option>12</option>
                    <option>11</option>
                    <option>10</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Work Hours Start</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="10.00 PM">
                <img src="clock.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Work Hours End</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="6.00 AM">
                <img src="clock.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Break Hours</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder=" ">
                <img src="clock.png">
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">PAYROLL COMPUTATION</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Periods Per Month*</label>
            </div>
            <div class="col-lg-5">
                <select class="form-control">
                    <option>1(Semi-Monthly)</option>
                    <option>2(Semi-Monthly)</option>
                    <option>3(Semi-Monthly)</option>
                </select>
                <img src="Qsnmarck.png">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Statutory Period Schedule</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Regular(1-15 and 16-30)
                            </label>&nbsp;&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-check ">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Irregular(Any other Schedule)
                            </label>
                        </div>
                    </div>
                    <img src="Qsnmarck.png">
                </div>
            </div>
        </div>
<br>
        <div class="row">
            <div class="col-lg-4">
                <label>Absent Deduction</label>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-2 ">
                        <input type="checkbox" > 
                        <label class="checkboxtxt">Basic Salary</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Deminimis</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">Allowance</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Reimbrusable Allowance</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">ECOLA</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Bonus</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Late Deduction</label>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-2 ">
                        <input type="checkbox" > 
                        <label class="checkboxtxt">Basic Salary</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Deminimis</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">Allowance</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Reimbrusable Allowance</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">ECOLA</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Bonus</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4"> </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-2 ">
                        <input type="checkbox" > 
                        <label class="checkboxtxt">Basic Salary</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Deminimis</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">Allowance</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Reimbrusable Allowance</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">ECOLA</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Bonus</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Over Time Computation</label>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-2 ">
                        <input type="checkbox" > 
                        <label class="checkboxtxt">Basic Salary</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Deminimis</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">Allowance</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Reimbrusable Allowance</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">ECOLA</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Bonus</label>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Rest Days</label>
            </div>
            <div class="col-lg-8">
                <div class="row">
                    <div class="col-lg-2 ">
                        <input type="checkbox" > 
                        <label class="checkboxtxt">Monday</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Tuesday</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">Wednesday</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Thursday</label>
                    </div>
                    <div class="col-lg-2 ">
                        <input type="checkbox" class="checkboxtxt"> 
                        <label class="checkboxtxt">Friday</label>
                    </div>
                    <div class="col-lg-2">
                        <input type="checkbox" class="checkboxtxt">
                        <label class="checkboxtxt">Saturday</label>
                    </div>
                </div>
            </div>
        </div>




        <div class="row">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">GOVERNMENT CONTRIBUTIONS</p>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-4">
                <label>SSS</label>
            </div>
            <div class="col-lg-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Calender Year(From January to December)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>PhilHealth</label><br>
                <span style="color: red;">The basic for PhilHealth contributionshould be monthly basic
                    salaryonly.</span>
            </div>
            <div class="col-lg-6">
                <div class="form-check">
                    <label>Coverage:</label><br>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        By Month(Customer)
                    </label><br>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        By Period(Gross)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>HDMF</label>
            </div>
            <div class="col-lg-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Fixed deduction of PHP 100.00 per month from each employee
                    </label>
                </div>
                <div>
                    <label style="margin-left: 18px;">Employer Contribution:</label>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check" style="margin-left: 18px;">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Same as Employee(PHP 100.00)
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Fixed deduction (PHP<span><input></span>)
                            </label>
                        </div>
                    </div>
                </div>

                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Follow this table to determine amount of deduction per month
                    </label>
                </div>
            </div>
        </div>













        <div class="row">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">TAX COMPUTATION</p>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Payroll Calender</label>
            </div>
            <div class="col-lg-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Calender Year(From January to December)
                    </label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Tax Table</label>
            </div>
            <div class="col-lg-6">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Normal
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                    <label class="form-check-label" for="flexRadioDefault1">
                        Pre-Annualised
                    </label>
                </div>

                <label>Pre-Annualised starts on</label>&nbsp;
                <select class="form-control">
                    <option>January</option>
                    <option>April</option>
                    <option>August</option>
                </select>
                <div class="form-check">
                    <input class="form-check-input  " type="checkbox" value="" id="flexCheckDefault">
                    <label class="form-check-label" for="flexCheckDefault">Including 13th month pay</label>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Non-Tax Exemption Ceiling*</label>
            </div>
            <div class="col-lg-6">
                <input class="form-control" placeholder="90,00,000">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Deminimis Exemption Ceiling*</label>
            </div>
            <div class="col-lg-6">
                <input class="form-control" placeholder="80,00,000">
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">PAYSLIP REPORT SETTINGS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Password Required in Payslip sent in email</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                yes
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Payslip Template</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Default
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                New
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Company Payslip formate</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <a href="w3schools.com">Customize</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">PAYROLL REPORT SETTINGS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Payroll Summary Format</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Default
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                New
                            </label>
                            <img src="Qsnmarck.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="row">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">DISPLAY SETTINGS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Sort Employee in Tables</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                By Employee ID
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                By Name
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Show Audit Trail Links in Tables</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <label>Show Assumed Accured in Payroll Summery</label>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Yes
                            </label>
                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                No
                            </label>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="row">
            <div class="col-lg-12 negative-padding">
                <p class="formheading">PASSWORD SETTINGS</p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <label>Expiration Days</label>
            </div>
            <div class="col-lg-5">
                <input class="form-control" placeholder="365">
            </div>
        </div>
        <br>
    </div>

    <br>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-3">
            <button class="btn">SAVE</button>
        </div>
        <div class="col-lg-3">
            <button class="btn">AUDIT TRAIL</button>
        </div>
        <div class="col-lg-3"></div>
    </div>
    <br><br>
</div>