
<div class="container-fluid">
    <div class="body">
        <div class="card card-padding">
            <div class="row">
                <div class="col-lg-10">
                    <span class="pckg">Users</span>
                </div>
                <div class="col-lg-2">
                    <button class="add" routerLink="/OT Rates">Add</button>
                </div>
            </div>
        </div>
    </div>
    <br>

    <div class="card2 card-padding2">
        <div class="row">
            <div class="col-lg-3">
                <input type="text" class="form-control" placeholder="Search...">
            </div>
            <div class="col-lg-3">
                <input type="date" placeholder="dd-mm-yyyy" class="form-control">
            </div>
        </div>
        <div class="col-lg-12"><br>
            <table>
                <tr>                 
                    <td><span class="menu">User Name</span></td>
                    <td><span class="menu">Email</span></td>
                    <td><span class="menu">Role</span></td> 
                    <td><span class="menu">Date Added </span></td>   
                    <td><span class="menu">Is Active?</span></td>   
                    <td><span class="menu">Is Total Only?</span></td>                                        
                    <td><span class="menu">Is Locked</span></td>     
                    <td><span class="menu"> </span></td>      
                    <td><span class="menu"> </span></td>                                        
                </tr>              
            </table>
        </div><br>
    </div>
</div>




