<div class="container">
    <br>
    <div class="row">
        <div class="col-lg-3">
            <span><a href="" class="TopNavSprout">Sprout Solutions</a></span>&nbsp; &#62;
            <span><a href="" class="TopNavPayroll">Sprout Payroll</a></span>
        </div>
        <div class="col-lg-6"></div>
        <div class="col-lg-3 BarAlign">
            <input type="text" class="SearchBar" placeholder="Search...">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-4 CardTypeWords">
            <h1 class="HeadingSprout">Sprout Payroll</h1>
            <a routerLink="#" class="SubHeading">Log In</a><br><br>
            <a routerLink="#" class="WordList">How To Change Sprout Payroll Password via Employee Profile (For Admins)</a><br><br>
            <a routerLink="#" class="WordList">Resetting Password in Sprout Payroll for Outlook Users Only</a><br><br>
            <a routerLink="#" class="WordList">How Do I Reset My Sprout Payroll Password?</a><br><br>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <br><br>
            <a routerLink="#" class="SubHeading">My Account</a><br><br>
            <a routerLink="#" class="WordList">How to Change Security Password in Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">Employee's Default Sprout Payroll Password</a><br><br>
            <a routerLink="#" class="WordList">Password Settings in Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">How To Unlock Your Sprout Payroll Account</a><br><br>
            <a routerLink="#" class="WordList">What is the Security Password? (For Admins)</a><br><br>
            <a routerLink="#" class="WordList">How Do I Reset My Security Password for Sprout Payroll? (For Admins)</a><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-4 CardTypeWords">
            <br><br>
            <a routerLink="#" class="SubHeading">Setup</a><br><br>
            <a routerLink="#" class="WordList">How to Add Company Image in Payslip</a><br><br>
            <a routerLink="#" class="WordList">New 13th Month Computation </a><br><br>
            <a routerLink="#" class="WordList">Enhanced Payroll Register</a><br><br>
            <a routerLink="#" class="WordList">How to Correct Company Name in Sprout Payroll?</a><br><br>
            <a routerLink="#" class="WordList">Date Specific Company Adjustments (DSCA)</a><br><br>
            <a routerLink="#" class="WordList">How to Update Cost Center</a><br><br>
            <a routerLink="#" class="OrngWord">See all 36 articles</a><br><br>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <br><br>
            <a routerLink="#" class="SubHeading">Users</a><br><br>
            <a routerLink="#" class="WordList">How to Deactivate and Delete Users on Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">How to Create A New User on Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">How to Unlock Sprout Payroll for Admin User</a><br><br>
            <a routerLink="#" class="WordList">How Do I Add Another Admin User on Sprout Payroll?</a><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-4 CardTypeWords">
            <br><br>
            <a routerLink="#" class="SubHeading">Employees</a><br><br>
            <a routerLink="#" class="WordList">How to Assign a Bank to the Employee in Sprout Payroll? (Not Synced Accounts)</a><br><br>
            <a routerLink="#" class="WordList">Deactivation and Setting Up Recurring Loan Adjustments</a><br><br>
            <a routerLink="#" class="WordList">Rest Day Per Employee on Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">Loans and Recurring Adjustments</a><br><br>
            <a routerLink="#" class="WordList">How to Update Employee Profile in Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">How Do I Fill out the Sprout Payroll Employee Template?</a><br><br><br>
            <a routerLink="#" class="OrngWord">See all 22 articles</a><br><br>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <br><br>
            <a routerLink="#" class="SubHeading">Payroll Runs</a><br><br>
            <a routerLink="#" class="WordList">How to Process Separation Pay in Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">Adding Government Contributions as One-Time Adjustments</a><br><br>
            <a routerLink="#" class="WordList">Why are some Overtime Columns not reflecting in the Attendance Page of Sprout Payroll?</a><br><br>
            <a routerLink="#" class="WordList">Sprout Payroll: How to Reconcile Overpayment from Salary Increase</a><br><br>
            <a routerLink="#" class="WordList">Can we Unpost a Posted Payroll Run?</a><br><br>
            <a routerLink="#" class="WordList">Citibank DAT File</a><br><br>
            <a routerLink="#" class="OrngWord">See all 37 articles</a><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-4 CardTypeWords">
            <br><br>
            <a routerLink="#" class="SubHeading">Reports</a><br><br>
            <a routerLink="#" class="WordList">BIR Form 2316: Substitute Filing (E-Signature)</a><br><br>
            <a routerLink="#" class="WordList">What’s my Address?: 2316 Form on Sprout Payroll (Synced Accounts)</a><br><br>
            <a routerLink="#" class="WordList">Update: Alphalist 7.0 in Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">Synced Accounts: How to Add Previous Employment Details in the Alphalist?</a><br><br>
            <a routerLink="#" class="WordList">How to Generate the BIR Form 1604-C</a><br><br>
            <a routerLink="#" class="WordList">What is the difference between the OT and the OT Total Columns in the Payroll Register of Sprout Payroll?</a><br><br>
            <a routerLink="#" class="OrngWord">See all 53 articles</a><br><br>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <br><br>
            <a routerLink="#" class="SubHeading">Role-Based Access Control</a><br><br>
            <a routerLink="#" class="WordList">RBAC: Assigning Users to a Role</a><br><br>
            <a routerLink="#" class="WordList">RBAC: Activating & Deactivating a Role</a><br><br>
            <a routerLink="#" class="WordList">What is Role-Based Access Control (RBAC)?</a><br><br>
            <a routerLink="#" class="WordList">RBAC: How to Create a New Role</a><br><br>
            <a routerLink="#" class="WordList">RBAC: Editing an Existing Role</a><br><br>
            <a routerLink="#" class="WordList">Different User Access for Sprout Payroll</a><br><br>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-3"></div>
        <div class="col-lg-4 CardTypeWords">
            <br><br>
            <a routerLink="#" class="SubHeading">Year End Process</a><br><br>
            <a routerLink="#" class="WordList">Why is there an amount under Tax Payable or Tax Refund Column of Annualization Report?</a><br><br>
        </div>
        <div class="col-lg-1"></div>
        <div class="col-lg-4">
            <br><br>
            <a routerLink="#" class="SubHeading">Sprout Payroll FAQs</a><br><br>
            <a routerLink="#" class="WordList">Sprout Advisory: Sprout Solutions is TRAIN Compliant</a><br><br>
            <a routerLink="#" class="WordList">How to View Payslip as an Employee Using Sprout Payroll</a><br><br>
            <a routerLink="#" class="WordList">How to Compute for PhilHealth Contribution (Based on the Contribution Table Effective January 1, 2014)</a><br><br>
            <a routerLink="#" class="WordList">Sprout Payroll: Government-Mandated Benefits</a><br><br>
            <a routerLink="#" class="WordList">The Difference Between Daily Paid and Monthly Paid Employees</a><br><br>
            <a routerLink="#" class="WordList">Payment of ECOLA (Emergency Cost of Living Allowance)</a><br><br>
            <a routerLink="#" class="OrngWord">See all 22 articles</a><br><br>
        </div>
    </div>
</div>
<hr><br>
<div class="container">
    <div>
        <a href="#" class="SubHeading1">Sprout Solutions</a><br>
    </div>
    <br><br><br>
</div>

