<div class="container-fluid background">
    <div class="row side-height">
        <div class="col-lg-12 negative">
            <p class="side-anchr">Welcome Admin</p>
            <hr class="HrLine">
            <p>
               
                <span routerLink="/Enquery"  class="side-anchr ">Enquery</span>
            </p>
            <p>
                
                <span routerLink="/BlogsFoodSense" class="side-anchr ">Blogs</span>
            </p>
            <p>
                
                <span routerLink="/ProjectsFoodSense" class="side-anchr ">Projects</span>
            </p>
            <p>
                

                <span routerLink="/TestimonialsFoodSense" class="side-anchr ">Testimonials</span>
            </p>
            <p>
                

                <span routerLink="/ResumesFoodSense" class="side-anchr ">Resumes</span>
            </p>

        </div>
    </div>
