<div class="container-fluid background">
    <div class="row side-height">
        <div class="col-lg-12 negative">
            <p class="side-anchr">Welcome Admin</p>
            <hr class="HrLine">
            <p>
                <span routerLink="/PayRoll" class="side-anchr ">Pay Roll</span>
            </p>
            <p>
                <button data-toggle="collapse" class="togglebtn button" data-target="#reports">Reports</button>
            <div id="reports" class="collapse submenu">
                <p><a class="tablinks submenu" routerLink="/Companyprofile">
                    Company
                </a><p>
                <a class="tablinks submenu" routerLink="/PayRoll">
                    Payroll
                </a><p>
                <a class="tablinks submenu" routerLink="/ProjectBlocksDashboard">
                    Reference
                </a><p>
                <a class="tablinks submenu" routerLink="/unitdetails">
                    Access Control
                </a>
            </div>
            <p>
                <button data-toggle="collapse" class="togglebtn button" data-target="#setup">
                    Set-up
                </button><br>
            <div id="setup" class="collapse submenu">
                <a class="tablinks menu togglebtn button" data-toggle="collapse" data-target="#company">
                    Company
                </a>
                <p>
                    <div id="company" class="collapse submenu">
                       <p><a class="tablinks submenu" routerLink="/Companyprofile">
                            Profile
                        </a><p>
                        <a class="tablinks submenu" routerLink="/CostCenter">
                            Cost centres
                        </a><p>
                        <a class="tablinks submenu" routerLink="/GeneralLedger">
                            General Ledgers
                        </a><p>
                        <a class="tablinks submenu" routerLink="/Department">
                            Departments
                        </a><p>
                        <a class="tablinks submenu" routerLink="/Bank">
                            Banks
                        </a><p>
                        <a class="tablinks submenu" routerLink="/PayGroup">
                            Pay Group
                        </a>
                    </div>
                <a class="tablinks menu togglebtn button" data-toggle="collapse" data-target="#payroll">
                    Payroll
                </a><p>
                <div id="payroll" class="collapse submenu">
                    <p><a class="tablinks submenu" routerLink="/OtRates">
                        OT Rates
                    </a><p>
                    <a class="tablinks submenu" routerLink="/Adjustment">
                        Adjustment Template
                    </a><p>
                    <a class="tablinks submenu" routerLink="/CompanyAdjustment">
                        Company Adjustment
                    </a>
                </div><p>
                <a class="tablinks menu togglebtn button" data-toggle="collapse" data-target="#reference">
                    Reference
                </a><p>
                <div id="reference" class="collapse submenu">
                    <p><a class="tablinks submenu" routerLink="/TaxTable">
                        Tax Table
                    </a><p>
                    <a class="tablinks submenu" routerLink="/PhilHealth">
                        PhilHealth
                    </a><p>
                    <a class="tablinks submenu" routerLink="/SSS">
                        SSS
                    </a><p>
                    <a class="tablinks submenu" routerLink="/ProjectDetailsDashboard">
                        Govt. OR Records
                    </a><p>
                </div>
                <p>
                <a class="tablinks menu" routerLink="/unitdetails">
                    Access Control
                </a>
            </div>
            <p>
                <span routerLink="/Employee" class="side-anchr ">Employees</span>
            </p>
            <p>
                <span routerLink="/User" class="side-anchr ">Users</span>
            </p>
            <p>
                <span routerLink="/Help" class="side-anchr ">Help</span>
            </p>
        </div>
    </div>
</div>