.pckg {
    font-weight: bolder;
    float: left;
    padding-bottom: 6px;
    text-align: center;
    font-size: 18px;
    font-family: sans-serif;
    color:white;
    padding-left: 15px;
}

.add {
    width: 98%;
    float: right;
    border: none;
    background-color:white;
    border-radius: 16px;
    color: black;
    margin-top: 6px;
    font-family: sans-serif;
    margin-right: 15px;
}

.search{
  margin-left: 15px;
}

table, th, td {
    border: 1px solid rgb(150, 145, 145);
  
  }

  table {
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #e4e4e4;
  }
  .card-padding{
      padding:1%;
  }
  .menu
  {
    font-weight: bold;
    font-family:sans-serif;
    font-size: 17px;
  }
  .card2{
    background-color: white;
  }
  .card-padding2{
    padding:1%;
  }
  .card{
    background-color:rgb(7, 106, 119) ;
  }
.text{
  text-decoration: underline;
  text-decoration-color: black;
  color:rgb(7, 106, 119);
  font-weight: bold;
  text-align: center;
}
.Button1{
  text-align: center;
  float:right;
  border-radius:8px;
  background-color:rgb(7, 106, 119) ;
  color:white;
  border: none;
  font-size: 18px;

}
.Button2{
  text-align: center;
  border-radius:8px;
  background-color:rgb(7, 106, 119) ;
  color:white;
  border: none;
  font-size: 18px;
}
.act{
  width: 50%;
  border: none;
  background-color:rgb(7, 106, 119);
  border-radius: 16px;
  color: white;
  margin-top: 6px;
  font-family: sans-serif;
  margin-left: 5px;
}
.Extra{
  /* text-align: center;
  border-radius:8px;
  background-color:rgb(7, 106, 119) ;
  color:white;
  border: none;
  font-size: 18px;
  width: 100px;
  margin-top: 5px;
  margin-left:15px; */
  border: none;
  background-color: rgb(7, 106, 119);
  border-radius: 8px;
  color: white;
  margin-top: 6px;
  font-family: sans-serif;
  width: 154px;

}