/* .sidenav {
    padding-top: 20px;
    background-color: #eba014;
    height: 780px;
    padding-left: 33px;
}

.sidenav_a {
    color: #ffffff;
}

.sidenav_p {
    color: white;
} */

.top {
    background-color: rgb(255, 255, 255);
}

.logout {
    height: 38px;
    width: 49px;
    float: right;
    position: relative;
    right: 72px;
    bottom: -26px;
}

.body2 {
    background-color: #e7e8e8;
}

.welcome {
    margin-top: 25px;
    color: white;
}


.pckg {
    font-weight: bolder;
    float: left;
    padding-bottom: 6px;
    text-align: center;
    font-size: 21px;
}

.add {
    width: 98%;
    float: right;
    border: none;
    background-color: purple;
    height: 27px;
    border-radius: 16px;
    color: white;
    margin-top: 6px;
}

.search {
    width: 22%;
    margin-left: 19px;
    padding-left: 12px;
    margin-top: -23px;
    border: 1px solid #b9bbbe;
    border-radius: 5px;
    padding-bottom: 6px;
}
table, th, td {
    border: 1px solid rgb(150, 145, 145);
  
  }

  .count{
      float: right;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .card-padding{
      padding:1%;
  }
  .menu
  {
    font-weight: bolder;
    font-family: Bookman Old Style;
    font-size: 15px;
  }
  .card2{
    background-color: white;
  }
  .card-padding2{
    padding:1%;
  }