.taxtable{
    font-weight: 600;
    font-size: 18px;
    background-color:lightgray;
    text-align: center;
    padding-bottom: 2px;
    padding-top: 12px;
    font-family: 'Open Sans', sans-serif;
}

table, td {
    border: 1px solid rgb(150, 145, 145);
  
  }

  table {
      background-color: rgb(7, 106, 119) ; 
    font-family: sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

  
  td{
    border: 1px black;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {
    background-color: #dddddd;
  }
  .menu
    {
      font-weight: bolder;
      font-family:sans-serif;
      font-size: 16px;
      color:white; 
    }
    .Daily{
        font-family:  'Open Sans', sans-serif;
    }