<div class="container-fluid card dashhead">
    <div class="row">
        <div class="col-lg-10">
            <h5>SSS Form</h5>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <div class="row">
        <div class="col-lg-3">
            <label>Min. Range</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Min. Range">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Max. Range</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Max. Range" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Monthly Salary Credit</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>SS-ER</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>SS-EE</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>SS Total</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>MPF-ER</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>MPF-EE</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>EC-ER</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Total Contribution</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtns">Save</button>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>