<div class="container-fluid card dashhead">
    <div class="row">
        <div class="col-lg-10">
            <h5>Users Form</h5>
        </div>
        <div class="col-lg-2">
        </div>
    </div>
</div>
<br>
<div class="container-fluid card">
    <div class="row">
        <div class="col-lg-3">
            <label>Email ID</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Email ID">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Role</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Role" >
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Date Added</label>
        </div>
        <div class="col-lg-4">
            <input type="date" class="form-control" placeholder="dd-mm-yyyy">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Is Active?</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Is Total Only?</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-3">
            <label>Is Locked?</label>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control">
        </div>
    </div>
    <br>
    <div class="row">
        <div class="col-lg-5"></div>
        <div class="col-lg-2">
            <button type="button" class="addbtns">Save</button>
        </div>
        <div class="col-lg-5"></div>
    </div>
</div>